$white: #fff;
$tan-color: #f0f0f0;
$deep-blue: #18203b;
$grayish: #707070;
$lighter-tan: #fafafb;
$darker-tan: #d8d8d8;
$charcol: #383549;
$light-blue: #0586d3;
$turquoise: #304250;

@font-face {
  font-family: "Effra";
  src: url("../assets/fonts/Effra_Std_Bd.ttf") format("truetype"),
    url("../assets/fonts/Effra_Std_Lt.ttf") format("truetype"),
    url("../assets/fonts/Effra_Std_Md.ttf") format("truetype"),
    url("../assets/fonts/Effra_Std_Rg.ttf") format("truetype");
}

body {
  font-family: "Effra", "serif";
  line-height: 1.4;
  color: $grayish;
}

body,
.container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p,
h3 {
  margin: 0;
  padding: 10px;
}

iframe,
#parking,
.cat-wrap,
.shift-up,
.pg,
.fifth-third,
.chhn,
.contact-wrap,
.send-off {
  display: grid;
}
// header styles
#head {
  background-image: url("../assets/images/pic-hero.png");
  background-size: cover;
  background-position: right center;
  height: 50vh;

  h2 {
    font-size: 1.6rem;
    letter-spacing: 1.5px;
  }
  .break {
    display: block;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.card-logo,
.tag {
  text-align: center;
}

.card-logo {
  padding-top: 40px;
}
.tag {
  margin-top: 30px;
  font-size: 1.7rem;
  color: $white;
}

a {
  text-decoration: none;
}

// categories
#categories {
  background-color: $tan-color;
}

.category {
  text-align: center;
  padding-top: 25px;
}

.cat-img {
  display: block;
  margin: 0 auto;
}

.category p {
  color: $grayish;
}
.cat-header {
  color: $deep-blue;
}

.last-cat {
  padding-bottom: 120px;
}

// clients
#clients {
  background-color: $white;
  padding: 1px;

  #client-head {
    text-align: center;
    padding: 10px 0px;
    // margin-top: -30%;
    background-color: $charcol;
    color: $white;
  }

  .shift-up {
    margin-top: -30%;
  }
  .client {
    text-align: center;
    border: 1px solid $grayish;
    background-color: $white;
    margin: 10px 0;
    padding: 10px;
  }

  .client-img {
    padding: 0px;
    margin: 0;
    height: 80px;
    max-width: 100%;
    min-height: 100%;
    object-fit: contain;
  }
}

// detail

#client-detail h3 {
  font-size: 1.5rem;
}
.pg,
.fifth-third {
  padding: 1px;
}
.pg {
  background-color: #e9e9e9;
  height: 600px;
}

.pg-inner {
  margin-top: 30px;
}

.pg-inner {
  height: 300px;
  background-image: url("../assets/images/pic-gojo-bg.png");
}

.pg-image {
  height: auto;
  width: 95%;
}

.inner-detail {
  margin: 40px 0px;
}

.inner-detail h3,
.inner-detail p {
  color: $deep-blue;
}

.detail {
  margin-bottom: 10px;
  color: $grayish !important;
}

.detail-button {
  padding: 15px;
  margin-top: 5px;
  background-color: $light-blue;
  border-radius: 5px;
  color: $white;
  text-decoration: none;
}

.detail-button:hover,
#contact #submit:hover {
  background-color: $white;
  color: $light-blue;
  border: 1px solid $light-blue;
  transition: 0.3s;
}

.fifth-third {
  background-image: url("../assets/images/pic-fifththird-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;

  .fifth-image {
    margin-top: 50px;
    width: 100%;
  }

  .fifth-detail {
    margin-top: -20%;
    text-align: center;
    color: $white;
  }
}

.chhn-detail,
.fifth-detail .detail,
.chhn-detail .detail {
  color: $white !important;
}

.chhn-detail .detail-button,
.fifth-detail .detail-button {
  color: $deep-blue;
  background-color: $white;
}
.chhn-detail .detail-button:hover,
.fifth-detail .detail-button:hover {
  color: $white;
  background-color: $deep-blue;
  border: 1px solid $white;
  transition: 0.3s;
}
.chhn {
  background: url("../assets/images/pic-chhn-bg.png");
  overflow: hidden;
  height: 650px;

  .chhn-image {
    padding-top: 40px;
    margin: 0px 64px;
    width: 100%;
  }
}

#contact {
  text-align: center;
  background-color: $tan-color;

  input[type="text"],
  input[type="email"] {
    padding: 15px 0px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    margin-top: 15px;
    padding-left: 5px;
    width: 98%;
    border: 1px solid $grayish;
    border-radius: 2px;
  }
  #submit {
    background-color: $light-blue;
    color: $white;
    width: 125px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: none;
  }

  hr {
    width: 55%;
    color: $grayish;
  }

  iframe {
    margin: 0 auto;
    border: 1px solid $grayish;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  h3,
  h4,
  .tel {
    color: $deep-blue;
  }

  #parking {
    // display: grid;
    padding-bottom: 40px;
  }
}

footer {
  background-color: $darker-tan;
  padding: 25px;
  text-align: center;
  font-size: 14px;

  p {
    font-size: 0.8rem;
  }
  .logo {
    padding: 15px;
  }
}

// media queries
// mobile phone on landscape
@media (max-width: 640px) and (orientation: landscape) {
    #head {
        height: 60vh;
    }
   #clients .shift-up {
        margin-top: -15%;
    }
    // client-detail
    .pg-inner,
    .inner-detail,
    .fifth-inner {
        text-align: center;
    }
    .pg-image {
        width: 50%;
        margin: auto;
    }
    .fifth-third .fifth-image {
        width: 60%;
    }
    .chhn .chhn-image {
        margin: 0% 46%;
        width: 60%;
    }
  }

  @media (min-width: 740px) and (orientation: landscape){
    #head {
        height: 65vh;
    }

    // #clients
    #clients .shift-up {
        margin-top: -10%;
    }

    // client-detail
    .pg-image {
        width: 50%;
    }
    .pg-inner,
    .inner-detail,
    .fifth-inner {
        text-align: center;
    }
    
    .inner-detail {
        padding-top: 20px;
    }

    .fifth-third .fifth-image {
        width: 60%;
    }

    .chhn .chhn-image {
        margin: 0% 49%;
        width: 60%;
    }
  }

//   tablet sizing
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  // head
  #head {
    height: 35vh;

    .card-logo {
      text-align: left;
    }

    h2 {
      font-size: 2rem;
    }
  }
  // categories
  .cat-wrap {
    // display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
  }

  .cat-img {
    float: left;
    padding-right: 10px;
  }
  .category {
    text-align: left;
  }

  .category p {
    padding-left: 20%;
  }

  // clients
  #clients .shift-up {
    margin-top: -10%;
  }

  .shift-up {
    // display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    grid-gap: 2%;
  }

  #clients #client-head {
    text-align: left;
    padding: 15px;
  }
  .bigger-box {
    grid-column: 1/3;
  }

  // client detail
  #client-detail {
    margin-top: 30px;

    .pg {
      // display: grid;
      grid-template-columns: 1fr 1fr;
      background-image: url("../assets/images/pic-gojo-bg.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 390px;
    }
    .pg-inner {
      background-image: none;
    }

    .fifth-third {
      // display: grid;
      grid-template-columns: 1fr 1fr;
      background-image: url("../assets/images/pic-fifththird-bg.png");
      height: 400px;
      overflow: hidden;
    }

    .fifth-inner {
      background-image: none;
      order: 2;
    }

    .fifth-image {
      margin-top: 30%;
      transform: scale(1.5);
    }

    .fifth-detail {
      margin-top: 25%;
      padding-left: 50px;
      text-align: left;
    }

    // chhn
    .chhn {
      // display: grid;
      grid-template-columns: 1fr 1fr;
      height: 300px;
    }

    .chhn-image {
      margin: -33px -15px;
      transform: scale(1.2);
    }

    .chhn-detail {
      margin-top: 15%;
    }
  }

  // contact
  #contact {
    margin-bottom: -30px;
  }
  .contact-wrap {
    padding: 5%;
    // display: grid;
    grid-template-columns: 55% 35%;
  }

  hr {
    display: none;
  }

  .form {
    border-right: 1px solid $grayish;
    padding-right: 15px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 85%;
  }

  #contact #submit {
    margin-right: 65%;
  }

  .details {
    text-align: left;
    padding-left: 10px;
  }

  .details p {
    line-height: 0.7;
  }
  #contact iframe {
    display: initial;
    margin-top: 15px;
  }

  // footer
  footer {
    padding: 15px;
  }
  .send-off {
    // display: grid;
    grid-template-columns: 70% 30%;
  }

  .copyright {
    justify-self: start;
  }

  .logos {
    justify-self: end;
  }
}

@media (min-width: 823px) and (orientation: landscape){
    #head {
        height: 70vh;
    }

    // client-detail
    .pg-image {
        width: 90%;
    }

    .inner-detail {
        margin: 70px 0px;
    }

    .chhn-image {
        margin: -35px -15px;
        transform: scale(1.2);
    }
    .chhn .chhn-image {
        margin: 0px 64px;
        width: 90%;
    }

    #client-detail .chhn-detail {
        margin-top: 5%;
    }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  #head {
    height: 40vh;
  }
  // categories
  .category p {
    padding-left: 15%;
  }

  // clients
  #clients .client-img {
    height: 142px;
  }

  // client detail
  #client-detail {
    margin-top: 60px;
  }

  // client-detail
  #client-detail .pg {
    height: 440px;
  }
  .pg-inner {
    margin-top: 2px;
  }

  .pg-image {
    transform: scale(0.9);
  }

  .inner-detail {
    margin-top: 90px;
  }

  #client-detail .fifth-third {
    height: 530px;
  }
  // chhn
  #client-detail .chhn {
    height: 410px;
  }

  #client-detail .chhn-image {
    margin: -28px -15px;
  }
  // contact
  #contact #submit {
    margin-right: 73%;
  }
}

@media (min-width: 1024px) {
  #head {
    height: 45vh;
  }

  // client detail
  #client-detail .pg-inner {
    margin-top: -9px;
  }

  .category p {
    padding-left: 14%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  #head {
    height: 50vh;
  }
  .card-logo {
    padding-top: 50px;
  }
  // categories
  .category p {
    padding-left: 15%;
  }

  // clients
  #clients .shift-up {
    margin-top: -6%;
  }
  // client detail
  #client-detail .pg {
    height: 492px;
  }
  #client-detail .pg-image {
    transform: scale(0.8);
  }
  // chhn
  #client-detail .chhn-image {
    margin: -77px -40px;
    transform: scale(0.95);
  }
  // contact
  #contact #submit {
    margin-right: 77%;
  }
}

@media (min-width: 1366px) {
  // categories
  #head {
    height: 60vh;
  }
  .category p {
    padding-left: 12%;
  }
  // clients
  #clients .client-img {
    height: 142px;
  }

  #client-detail .pg {
    height: 560px;
  }

  // fifth third
  #client-detail .fifth-image {
    margin-top: 7%;
    transform: scale(1.15);
  }
}